table, th
{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

td
{
    border-left: 1px solid black;
    border-collapse: collapse;
    min-width: 150px;
}
thead
{
    background-color: lawngreen;
    color: ghostwhite;
}
img
{
    width: 21px;
    height: 15px;
    padding: 5px;
    padding-bottom: 0px;
}

tr:nth-child(2n)
{
    background: #ECEBEB;
}