body #main-container{
    border:2px solid #664733;
    border-radius:5px;
    width:45%;
}
    body #main-container header {
        border-bottom: 1px solid #2c2c2c;
        background: #3b3b3b; /* Old browsers */
        background: -moz-linear-gradient(left, #3b3b3b 0%, #363636 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3b3b3b), color-stop(100%,#363636)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #3b3b3b 0%,#363636 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #3b3b3b 0%,#363636 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #3b3b3b 0%,#363636 100%); /* IE10+ */
        background: linear-gradient(to right, #3b3b3b 0%,#363636 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#363636',GradientType=1 ); /* IE6-9 */
    }
        body #main-container header:after {
            content:"";
            display:block;
            height:0;
            clear:both;
        }
        body #main-container header img {
            width:40px;
            height:50px;
            margin:3px;
            float:left;           
        }
        body #main-container header span {
            font-size: 20px;
            color: #ffffff;
            display: inline-block;
            margin: 15px;
            font-family:Georgia;    
        }
        body #main-container header input.text{
            text-indent:10px;
        }
        body #main-container header input.go {
            margin-left:10px;
            padding: 5px 15px;
            border: 1px solid #fff;
            border-radius: 10px;
            background: rgba(229, 110, 110, .9);
            box-shadow: inset 0px -15px 5px #EC0B0F;
            color: #fff;

        }
        body #main-container header input.go:hover {
            border: 1px solid #fff;
            background: rgba(229, 110, 110, 1);
            box-shadow: inset 0px -15px 5px #f63030;
            color: #808080;
        }
    body #main-container section {
        padding:7px;
        padding-bottom: 1px;
        background-color:#454544;
    }
        body #main-container section div {
            font-size: 25px;
            color: #fad413;    
            margin:10px 0 15px 0;  
            font-family:Georgia;     
        }
        body #main-container section article p {
            margin: 0;
            width:88%;
            color: #d4d4d4;
            
        }


